.container {
 width: 1140px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 flex-direction: column;
}

.spinnerText {
 font-size: 20px;
 color: #609acc;
 margin-top: 10px;
}

.spinner {
 display: none;
 width: 64px;
 height: 64px;
}

.table {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 margin-top: 10px;
 width: 100%;
 color: #6cade6;
}

.img {
 display: none;
 width: 100px;
 height: 89px;
 object-fit: cover;
}

button {
 &:disabled {
  box-shadow: none;
  background-color: #304d66;
 }
}

.btn {
 background-color: #6cade6;
 border: none;
 padding: 5px;
 border-radius: 10px;
 color: #243a4d;
 box-shadow: 2px 2px 10px 2px #609acc;
 cursor: pointer;
 &:active {
  box-shadow: 1px 1px 5px 1px #609acc;
 }
}

.btn2 {
 margin-top: 10px;
 background-color: #6cade6;
 border: none;
 padding: 5px;
 border-radius: 10px;
 color: #243a4d;
 box-shadow: 2px 2px 10px 2px #609acc;
 cursor: pointer;
 &:active {
  box-shadow: 1px 1px 5px 1px #609acc;
 }
}

.title {
 color: #609acc;
 margin-bottom: 10px;
}

* {
 box-sizing: border-box;
 margin: 0;
}

ul {
 list-style: none;
 padding: 0;
 li {
  margin-top: 5px;
 }
}

body {
 background-color: #304d66;
 padding: 30px 0;
}
