.container {
 width: 1140px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 flex-direction: column;
}

.spinner {
 font-size: 20px;
 color: deeppink;
 margin-top: 10px;
}

.keys {
 margin-top: 10px;
}

.img {
 display: none;
 width: 100px;
 height: 89px;
 object-fit: cover;
}

.btn {
 background-color: #6cade6;
 border: none;
 padding: 5px;
 border-radius: 10px;
 color: #243a4d;
 box-shadow: 2px 2px 10px 2px #609acc;
 cursor: pointer;
 &:active {
  box-shadow: 1px 1px 5px 1px #609acc;
 }
}

.btn2 {
 margin-top: 10px;
 background-color: #6cade6;
 border: none;
 padding: 5px;
 border-radius: 10px;
 color: #243a4d;
 box-shadow: 2px 2px 10px 2px #609acc;
 cursor: pointer;
 &:active {
  box-shadow: 1px 1px 5px 1px #609acc;
 }
}

.title {
 color: #609acc;
 margin-bottom: 10px;
}

* {
 box-sizing: border-box;
 margin: 0;
}

body {
 background-color: #304d66;
 padding: 30px 0;
}
